.Cart-wrapper{
    display:flex;
    flex-direction: column;
    margin: 40px 0px 0px 0px;
}

.Cart-item-wrapper{
    display: flex;
    height: 150px;
    align-items: center;
    margin-bottom: 25px;
    background: rgb(229,221,221);
    padding: 20px;
}

.Cart-item-wrapper div{
    width: 20%;
    font-size: 20px;
}

.Cart-img{
    flex-shrink: 1;
    height:  100px;
    width: 100px;
}

.Cart-remove-button{
    padding: 10px 20px;
    cursor:pointer;
    border-radius: 25px;
    background-color: #ffa430;
    border: 2px solid #ffa430;
}

.Cart-quantity-wrapper{
    display:flex;
    
}
.Cart-quantity-wrapper p{
    padding: 0 10px;
  }
.Cart-title{
    width: 75%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   }

.loading{
  display:flex;
  margin:20%;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color:gray
  


}
