.ProductCard-wrapper {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5em;
  width: 100px;
  min-width: 300px;
  text-align: left;
}

.ProductCard-image {
  display: flex;
  width: auto;
  height: 200px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.ProductCard-image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ProductCard-category {
  font-weight: bolder;
  color: green;
}

.ProductCard-title {
  font-size: 16px;
  font-weight: bold;
  color: #000800;
  overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.ProductCard-price {
  font-size: 20px;
  color: orange;
}

.ProductCard-rating {
  font-size: 16px;
}

.ProductCard-button {
  background-color: #ffa430;
  border: 3px solid #ffa430;
  width: 100px;
  padding: 5px;
  border-radius: 50px;
  font-size: 14px;
}

@media (max-width: 650px) {
  .ProductCard-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5em;
    width: 100px;
    min-width: 300px;
    text-align: left;
  }
}


