.Products-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 80%;
    margin: 70px auto 0;
    gap: 12px;
}

.Loading{
    display:block;
    margin:auto;
    font-size: 24px;
    font-weight: bold;
}