.Products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 1rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.Loading {
  display: block;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 650px) {
  .Products-wrapper {
    display: grid;
    grid-template-columns: 350px;
    gap: 1rem;
  }
}
