.Nav-wrapper{
    display:flex;
    justify-content: center;
    padding: 20px;
    background: rgb(94,90,90)
}

.Nav-wrapper > li {
    list-style-type: none;
    color: #fff;
    font-size: 22px;
    padding: 0px 20px;
}

.Nav-wrapper > li > a {
    text-decoration: none;
    color: inherit;
}

.Cart-nav-link{
    position:relative
}